    .ipt {
        width: 300px;
    }
    label {
        width: 130px;
        display: block;
    }
    ul li {
        list-style:none;
    }
.ui-progressbar {
    position: relative;
  }
  .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }
#progressbar{
    height:30px;
    display:none;
}
#dialog{
    display:none;
}